<a href="https://colab.research.google.com/github/shanthivijayan/Python_Code/blob/main/Python_Tuples_Practice_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuples Exercises

In [20]:
#Q1 Create myTuple tuple with the follwoing values
#("NPower","JDA","Tuesday",30,3,2021)
myTuple=("NPower","JDA","Tuesday",30,3,2021)
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [2]:
#Q2 What is the type of myTuple
print(type(myTuple))

<class 'tuple'>

In [3]:
#Q3 What is the length of myTuple
print(len(myTuple))

6

In [21]:
#Q4 print the values in each index #Use regular indexing
#for t in range(0,len(myTuple)):
 # print("myTuple[",t,"]",myTuple[t])
print(myTuple[0])
print(myTuple[1])
print(myTuple[2])
print(myTuple[3])
print(myTuple[4])
print(myTuple[5])

NPower
JDA
Tuesday
30
3
2021

In [22]:
#Q5 print the values in each index #Use negative indexing
#for t in range(-1,-len(myTuple),-1):
# print("myTuple[",t,"]",myTuple[t])
print(myTuple[-1])
print(myTuple[-2])
print(myTuple[-3])
print(myTuple[-4])
print(myTuple[-5])
print(myTuple[-6])

2021
3
30
Tuesday
JDA
NPower

In [24]:
#Q6 what is the type of each value
#for t in range(0,len(myTuple)):
 # print("myTuple[",t,"]",type(myTuple[t]))
print(type(myTuple[0]))
print(type(myTuple[1]))
print(type(myTuple[2]))
print(type(myTuple[3]))
print(type(myTuple[4]))
print(type(myTuple[5]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [28]:
#Q7 unpack myTuple in the follwoeing variables
#name,program,dayName,month,day,year accordingly
# print the variables
name= myTuple[0]
program = myTuple[1]
dayName =myTuple[2]
month =myTuple[3]
day = myTuple[4]
year = myTuple[5]
print(name,",",program,",",dayName,",",month,",",day,",",year)

NPower , JDA , Tuesday , 30 , 3 , 2021

In [36]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2 =(name,program,dayName)
print(myTuple)
print(myTuple2)
myTuple2=(myTuple[0],myTuple[1],myTuple[2])
print(myTuple2)
print(myTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
('NPower', 'JDA', 'Tuesday')
('NPower', 'JDA', 'Tuesday')
('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [40]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
print(Tuple2)
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

('Ulan',)
Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

In [41]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [44]:
#Q9 Reverse myTuple, output should looks like
#(2021,3,30,"Tuesday","JDA","NPower")
myTuple3=myTuple[::-1]

print(myTuple3)

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [46]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
print(nestedTuple)

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [53]:
#Q11 What is the output of nestedTuple[1:2]
print(nestedTuple[0:2])
print(nestedTuple[1:3])

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))
(('week', (2, 'Lists', 'Tuple')),)

In [54]:
#Q12 print each element in the nestedTuple
print(nestedTuple[0])
print(nestedTuple[1])

('Coursera', 'course', 6)
('week', (2, 'Lists', 'Tuple'))

In [55]:
from typing import NewType
#Q13 Access (2,"Lists","Tuple") from nestedTuple
print(nestedTuple[1][1])

(2, 'Lists', 'Tuple')

In [56]:
#Q14 Access the value "Lists" from nestedTuple
print(nestedTuple[1][1][1])

Lists

In [57]:
#Q15 Access the value "Tuple" from nestedTuple
print(nestedTuple[1][1][2])

Tuple

In [58]:
#Q16 Access the value "course" from nestedTuple
print(nestedTuple[0][1])

course

In [59]:
#Q17 Concatenate myTuple with nestedTuple
myconcateTuple= myTuple + nestedTuple
print(myconcateTuple)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [63]:
#Q18 add your name to the tuple
myconcateTuple1 =myconcateTuple +("Group7",)
print(myconcateTuple1)

('NPower', 'JDA', 'Tuesday', 30, 3, 2021, ('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')), 'Group7')

In [64]:
#Q19 check whether Coursera exists within  myTuple
"coursera" in myTuple
# NOTE "in" doesn't work properly with nested tuples

False

In [65]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
55 in testTuple

True

In [68]:
#Q21 Find the index of JDA in myTuple
print(myTuple)
print(myTuple.index('JDA'))
# Find the index of 'Coursera' in myTuple
print(myTuple.index('Coursera'))
# NOTE index doesn't work properly with nested tuples # Wrong output

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
1

ValueError: tuple.index(x): x not in tuple

In [69]:
#Q22 print index 8 from myTuple
print(myTuple[8])

IndexError: tuple index out of range

In [72]:
#Q23 Get the 4th element from the begining of myTuple
#and 4th element from last of a myTuple
print(myTuple)
print(myTuple[3])
print(myTuple[-4])

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)
30
Tuesday

In [73]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
print(testTuple.count(55))

2